/* components/buttons/CopyButton.css */

@import "../../app/globals.css";

.copy-button {
  @apply 
    flex 
    items-center  
    px-3 
    py-2 
    gap-2
    border 
    border-amber-500
    bg-amber-500 
    hover:bg-amber-700
    hover:border-amber-700
    active:bg-neutral-200/20
    active:scale-95 
    text-white
    rounded-lg 
    transition-all 
    duration-200  
    cursor-pointer
}

.copy-button.copied {
  @apply 
    bg-green-100 
    text-green-600 
    border-green-600
}

.copy-icon {
  @apply 
    inline-block
}