/* components/buttons/ForgotPassword.css */

@import "../../app/globals.css";

.forgot-password-button {
  @apply
    flex
    underline
    text-primary
    hover:text-secondary
    active:bg-neutral-200/20
    active:scale-95
    text-lg
    md:text-base
    font-semibold
    cursor-pointer
}