/* app/client/client.css */

@import "../globals.css";

.client-event-image {
  @apply
    relative 
    w-full 
    aspect-video  
    overflow-hidden 
    border 
    border-neutral-200
    dark:border-neutral-700
    rounded-lg
}

.event-description {
  @apply
    text-neutral-600
    dark:text-neutral-300
    leading-relaxed
    text-sm
    whitespace-pre-wrap
}

.without-tickets-section {
  @apply
    text-center 
    p-10 
    border 
    border-dashed 
    border-neutral-200 
    dark:border-neutral-700
    rounded-lg
}

.event-section {
  @apply
    flex 
    flex-col 
    md:flex-row
    justify-between 
    items-center
    p-5
    gap-5
    bg-neutral-100
    dark:bg-neutral-900
    border 
    border-neutral-200 
    dark:border-neutral-700
    rounded-lg  
    transition  
}

.event-status-tag {
  @apply
    px-3 
    py-1 
    text-xs 
    font-semibold
    rounded-full 
}

.event-emission {
  @apply
    flex 
    flex-col 
    sm:flex-row 
    sm:items-center 
    gap-1 
    sm:gap-3
}

.paid-status-tag {
  @apply
    bg-green-300
    border
    border-green-500
    text-green-600
    rounded-lg
}

.pendent-status-tag {
  @apply
    bg-blue-300
    border
    border-neutral-500
    text-blue-600
    rounded-lg
}